 @import "./variables.scss";

.projet {
           width: 100vw;
           height: 100%;
           padding-top: 5%;
           padding-bottom: 5%;
           left: 0;
           background-color: $couleurJaune;
           background-attachment: fixed;
           h2 {
               @include titre;
               margin-bottom: 5%;
               color: black;
           }
           p {
               color: white;
               text-align: center;
               span {
                   color: black;
               }
           }
           .projet__illustration {
               .illustration--block1,
               .illustration--block2 {
                   display: flex;
                   flex-wrap: wrap;
                   .illustration__item {
                       @include d-flex-culumn;
                       background-color: #CFCFE6;
                       width: 32%;
                       align-items: center;
                       justify-content: center;
                       margin: 0.2%;
                       border-radius: 3px;
                       border: solid 2px rgba(2, 2, 47, 0.753);

                       @media (max-width: 750px) {
                           width: 100%;
                       }
                       &:hover {
                           @media (min-width: 750px) {
                               position: relative;
                               z-index: 99;
                           }
                       }
                      
                       ul {
                           li {
                               a {
                                   .img__lien {
                                       width: 12%;
                                       height: 12%;
                                       margin-right: 1%;

                                   }
                               }
                           }
                       }
                       p {
                           position: absolute;
                           bottom: 0%;
                           color: $couleurJaune;
                           background-color: rgb(255, 255, 255);
                           width: 90%;
                           font-family: 'Montserrat', sans-serif;
                           font-size: 0.70em;
                           transition: 0.7s;
                           line-height: 20px;
                           &:hover {
                               visibility: hidden;
                           }
                           span {
                               font-weight: bolder;
                               font-size: 1.2em;
                           }
                           @media (max-width:770px) {
                               font-size: 1em;
                               line-height: 15px;
                           }
                       }
                       &:nth-child(3){
                           a{
                               img{
                                   height: 100%;
                                   padding-top:5%;
                                   margin-top: -6%;
                                   background: rgb(251, 251, 251);
                               }
                           }
                       }
                       a {
                           img {
                               border: solid 1px rgba(255, 255, 255, 0.418);
                               width: 90%;
                               height: 88%;
                               align-self: center;
                               transition: 0.4s;
                               border: solid 1px white;
                               align-self: center;
                               margin-left: 5%;
                               margin-top: 3%;
                               &:hover {
                                   @media (min-width: 750px) {
                                       position: relative;
                                       transform: scale(1.2);
                                       z-index: 99;
                                   }
                               }
                           }
                       }
                   }

               }
           }
           .projet__footer {
               display: flex;
               justify-content: center;
               color: white;
               width: 100%;
               padding: 3%;
               margin-top: 5%;
               margin-bottom: -5%;
               background-color: white;
           }
       }